* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
}

header {
    background: #33B667;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    line-height: 27px;
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

/* Matches Container */

main h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    top: 258px;
}

main section {
    width: 340px;
    height: 394px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sectionHeader button {
    background-color: #33B667;
    border-radius: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 1px;
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
}


.sectionTitle {
    text-align: center;
    flex: 1;
}

.sectionTitle p {
    font-weight: 400;
    font-size: 16px;
}

#roundTitle {
    font-weight: 700;
    font-size: 12px;
}

#matches {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.gameLine {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
}

.score {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: center;
}

.score span {
    color: #D1D1D1;
    margin: 0 15px;
}
.teamInfos {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* Button hidden */
.hidden {
    display: none;
}

/* Ajuste dos botões */
#prevRound {
    left: 10px;
}

#nextRound {
    right: 10px;
}

/* SVG COLORS */
#time-a {
    --color-stop: #FF0000;
}

#time-b {
    --color-stop: #0038FF;
}

#time-c {
    --color-stop: #FF9900;
}

#time-d {
    --color-stop: #72CB00;
}

#time-e {
    --color-stop: #00C797;
}

#time-f {
    --color-stop: #0088D4;
}

#time-g {
    --color-stop: #AD00FF;
}

#time-h {
    --color-stop: #FF00E5;
}